!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/bootstrap-responsive.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Zubair
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') Home
              li
                a(href='#about') About
              li
                a(href='#contact') Contact
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Dropdown
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li.nav-header Nav header
                  li
                    a(href='#') Separated link
                  li
                    a(href='#') One more separated link
                
                p hello world
           
    #main.container.animate
      p
        a.btn.btn-primary.btn-large Learn more »
    hr
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script
      window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\\\/script>')
    script(src='js/jquery.hammer.js')
    script(src='js/vendor/bootstrap.min.js')
    script(src='http://masonry.desandro.com/masonry.pkgd.min.js')
    script(src='js/main.js')
